<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620095850250-o5m922fkk8132dvaspfj4n55r6ki6chn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620095850250-o5m922fkk8132dvaspfj4n55r6ki6chn</string>
	<key>API_KEY</key>
	<string>AIzaSyAz5Hnt0U1NfSFHKgfwEEa1IIW3nppekvE</string>
	<key>GCM_SENDER_ID</key>
	<string>620095850250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-f212e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-f212e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620095850250:ios:cf7d08165ed7971494dcf3</string>
</dict>
</plist>